<% provide(:title, "About") %>
<body class="about">
  <h1>About Spotlight</h1>
  
  <p><em>Spotlight</em> allows professors to set up and keep track of 
      student responses to peer grading of presentations. Traditionally, 
      all of the responses are collected on paper, which means that the 
      professor has to spend time tallying the points awarded, gathering 
      suggestions, etc. Not to mention the excessive use of paper.
      This app would allow the professor to set up a presentation "Review sheet" 
      that each student could access. The sheet will be customizable with different 
      fields or number values able to be assigned to each question. For example: 
      some questions could be answered on a 1-5 scale, some could be true/false 
      checkboxes, and some could be short answer.
      Responses will be automatically and anonymously gathered, added up, or 
      returned in some easy-to-use format that the professor can then use later.
      It also allows professors to schedule the presentations in their class, or 
      give them the ability to allow students to select their presentation times.
      This app could be used by any professor at CBU, and maybe eventually, any 
      professor anywhere.</p>
</body>    