<body class="salmon">  
  <h1>New Presentation</h1>
  
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@presentation) do |f| %>
      
      <% end %>
    </div>
  </div>
  
  <%= link_to 'Back', presentations_path %>
</body>