<footer class="footer navbar">
  <small>
    The <a href="#">Spotlight App</a>
    by <a href="#">Team Awesome</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   main_app.about_path %></li>
      <li><%= link_to "Contact", main_app.contact_path %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>